#header {
  display: flex;
  position: fixed;
  top: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 56px;
  background: $black;
  z-index: 10;
  align-items: center;

  #link-bar {
    position: fixed;
    right: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    
    @include for-tablet-portrait-up {
      list-style: none;
      width: 50vw;
    }
  }
  
  .menu {
    text-decoration: none;
    color: $white;
    
    &:hover {
      box-shadow: 0 3px 0 $primary;
    }
  }
  
  .menu-icon {
    display: none;
  }
  
  .button {
    background-color: $black;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 25px;
    color: $white;
    padding: 5px 20px 8px 20px;
    position: relative;
    transition: background 0.5s, color 0.5s;
    
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(to right, $secondary, $primary);
      margin: -2px;
    }
    
    &:hover {
      box-shadow: none;
      color: $black;
      background: none;
    }
  }
}
