.home {
  background: $dots -50% -29%/160% no-repeat, linear-gradient(to right, #060022, #060022);
  position: relative;
  overflow: hidden;
  height: 100vh;

  &::after {
    content: '';
    background: $circles center/contain no-repeat;
    position: absolute;
    left: 0;
    bottom: -45%;
    width: 190%;
    height: 100%;
  }
  
  @include for-tablet-landscape-up {
    background: $dots -30% 130px / contain no-repeat, $dots 140% -80px / contain no-repeat, linear-gradient(to right, #060022, #060022);

    &::after {
      content: '';
      background: $circles center/cover no-repeat;
      position: absolute;
      left: 50%;
      bottom: -12%;
      width: 80%;
      height: 100%;
    }    
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
  
    @include for-tablet-portrait-up {
      width: 40rem;
      height: 100vh;
    }
    
  }
  
  &__title {
    text-shadow: 3px 3px 0px $primary;  
    font-family: 'Squada One', sans-serif;
    font-weight: 900;
    max-width: 450px;
    color: $white;
  }
  
  &__subtitle {
    max-width: 900px;
    font-weight: 300;
    color: $white;

    & :first-child {
      margin-top: 20px;
      border: 2px solid $black;
    }
  }
}