p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h1 {
  font-size: 4em;
  line-height: 3.2rem;
}

h2, h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

small {
  font-size: 1rem;
  line-height: 1.5rem;
}

i {
  padding: 2px;
}

li {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@include for-tablet-portrait-up {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  h1 {
    font-size: 5em;
    line-height: 4rem;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
  h3 {
    font-size: 1.4rem;
    line-height: 2.0rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  small {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}